$textColor: rgb(55, 0, 255);
$fontWeights: (
    "regular": 400,
    "medium": 500,
    "bold": 900
);
$fontSize:2rem;
$primaryColor:green;
$secondColor:lightblue;
$myFirstColors: (
    "softColor":rgb(137, 137, 64),
    "flashColor":rgb(255, 0, 195),
    "darkColor": rgb(11, 66, 11)
);
