// First SASS file

// Variables
@import 'reset';
@import 'variables';
@import 'functions';

body{
    display:flex;
}



@mixin fontStyle{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: fontWeights(regular);
    color: aquamarine;
    font-size: 3rem;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid black 2px;
}

@mixin theme($light-theme:true){
    @if $light-theme {
        background:lighten($text_color, 100%);
        color:darken($text_color, 100%);
    }    
}
@mixin hide($hide-element:true) {
    @if $hide-element{
        // margin-left:-10000px;
        visibility: hidden;
    }
}

.main{
    background-color: $secondColor;
    color: $textColor;
    font-size: $fontSize;
    @include center;
    .section{
        font-weight: weight(regular);
        
        .p1{
            font-weight: weight(bold);
            color: color(flashColor);
        }
    }
        #{&}_section{
            p:hover {
                color: $primaryColor;
            }
        
        }
        .p2 {
            @extend .p1;
            color:color(darkColor);
        }
        

        
    }
    .standard1{
        color: myColors(softColor);
        // @include hide;
        
    }
    .standard2{
        color: myColors(flashColor);
    }
    .special{
        color: myColors(darkColor);
        @include fontStyle();
    }

.blue{
    padding:30px;
    background-color: blue;
}
.red:hover{
    @extend .blue;
}
.orange:hover{
    @extend .blue
    
}

